Repository MC-kit/map-stp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

docs: fix requirements.txt for readthedocs
  README.rst
  docs/source/conf.py
  pyproject.toml
Due: isort, black, flake8

docs: fix readthedocs build
  .readthedocs.yaml
Due: none

bump: implement readthedocs building
  pyproject.toml
Due: none

add pipup scripts
  dev/pipup
  dev/pipup.bat
Due: none

dependenices: update
  poetry.lock
Due: none

build: Add doskey macros to facilitate working in Windows console.
  dev/doskey_macros.txt
Due: none

%1
  .github/workflows/tests.yml
  dev/doskey_macros.txt
Due: none

%1
  dev/doskey_macros.txt
Due: none

build: add python script to clean environment from previous mapstp installations
  dev/clear-prev-dist-info.py
  poetry.lock
  pyproject.toml
Due: black

%1
  README.rst
Due: none

Set theme jekyll-theme-cayman
  _config.yml
  index.md
Due: none

refact: better method name - there's no validation actually
  src/mapstp/utils/resource.py
Due: isort, black, flake8

docs: revise README
  README.rst
Due: none

tests: set python version for nox 'docs' session to the same value which is supported by readthedocs
  noxfile.py
Due: isort, black, flake8

build: poetry lock update
  docs/source/index.rst
  poetry.lock
Due: none

docs: continue work with README
  README.rst
Due: none

build: update materials.txt
  src/mapstp/data/materials.txt.zip
Due: none

docs: start documenting 1
  docs/source/conf.py
Due: isort, black, flake8

test: preparing tests with missed cell
  src/mapstp/merge.py
  tests/cli/test_mapstp.py
  tests/data/test3a.i
  tests/test_merge.py
Due: isort, black, flake8

build: removing click-loguru - not used
  poetry.lock
  pyproject.toml
  src/mapstp/merge.py
  tests/test_merge.py
  tests/utils/test_io.py
Due: isort, black, flake8

build: poetry update
  poetry.lock
Due: none

bump: version
  pyproject.toml
Due: none

style: fix pre-commit error on end of file:
  tests/utils/test_io.py
Due: isort, black

feat: add logging intialization
  poetry.lock
  pyproject.toml
  src/mapstp/cli/logging.py
  src/mapstp/cli/runner.py
  src/mapstp/config.py
  tests/cli/test_logging.py
Due: isort, black, flake8

fix: correct reading and writing MCNP sections with some sections missed or with space-only remainder
  src/mapstp/cli/logging.py
  src/mapstp/config.py
  src/mapstp/merge.py
  src/mapstp/utils/io.py
  tests/cli/test_logging.py
  tests/cli/test_mapstp.py
  tests/test_config.py
  tests/test_materials_index.py
  tests/utils/test_io.py
Due: isort, black, flake8

test: add test for reading of mcnp model with non-empty remainder
  src/mapstp/utils/io.py
  tests/utils/test_io.py
Due: isort, black, flake8

fix: make more informative error message in case when mnemonic in STP is not specified in material index
  src/mapstp/extract_info.py
  src/mapstp/merge.py
  src/mapstp/utils/re.py
  tests/conftest.py
  tests/test_extract_info.py
Due: isort, black, flake8

style: fix lint and mypy issues
  src/mapstp/cli/logging.py
  src/mapstp/config.py
  src/mapstp/extract_info.py
  src/mapstp/materials_index.py
  src/mapstp/merge.py
  tests/cli/test_logging.py
  tests/test_extract_info.py
Due: isort, black, flake8

fix: add more logging information on inputs and outputs
  src/mapstp/cli/runner.py
  src/mapstp/utils/io.py
  src/mapstp/workflow.py
Due: isort, black, flake8

build: next prepatch version
  pyproject.toml
Due: none

fix: correct output of materials to tagged model, when some of materials specifications are not provided
  dev/reset-pyenv
  src/mapstp/cli/runner.py
  src/mapstp/materials.py
Due: isort, black, flake8

build: mypye update
  poetry.lock
  pyproject.toml
Due: none

bump: set prepatch version
  pyproject.toml
Due: none

build: fix handling of python folder name for 3.10 and above
  dev/clear-prev-dist-info.py
Due: black

build: update - nox, black, flake8-bugbear, tomli, loguru
  poetry.lock
  pyproject.toml
Due: none

test: improve coverage
  src/mapstp/merge.py
  src/mapstp/utils/resource.py
  tests/test_merge.py
  tests/utils/test_resource.py
Due: isort, black, flake8

build: fix isort settings
  noxfile.py
  poetry.lock
  pyproject.toml
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$, but not: dev|\.idea
  black: any of: \.py$
  flake8: any of: \.py$, but not: tests|runner|dev|\.idea
