Repository MC-kit/map-stp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.(xlsx|zip)$
    -   id: end-of-file-fixer
        exclude: \.(xlsx|zip)$
    -   id: check-yaml
    -   id: check-toml
    -   id: check-added-large-files
#-   repo: https://github.com/psf/black
#    rev: 21.10b0
#    hooks:
#    -   id: black
#-   repo: https://github.com/myint/rstcheck
#    rev: 3f92957
#    hooks:
#    -   id: rstcheck
-   repo: local
    hooks:
    -   id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
    -   id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
    -   id: flake8
        name: flake8
        exclude: tests|runner
        entry: poetry run flake8
        language: system
        types: [python]

fix: material number should be always integer
  src/mapstp/merge.py
Due: isort, black, flake8

feat: update materials with rrn's new materials
  src/mapstp/data/materials.txt.zip
Due: none

feat: started output materials
  .pre-commit-config.yaml
  src/mapstp/cli/runner.py
  src/mapstp/utils/re.py
  tests/cli/test_mapstp.py
  tests/data/111.txt
Due: isort, black, flake8

test: continued materials printing to mcnp implementation, not ready yet
  pyproject.toml
  src/mapstp/cli/runner.py
  src/mapstp/materials.py
  src/mapstp/merge.py
  src/mapstp/utils/io.py
  src/mapstp/utils/re.py
  tests/cli/test_mapstp.py
  tests/data/materials-1.txt
  tests/test_materials.py
  tests/utils/test_re.py
Due: isort, black, flake8

build: poetry update
  poetry.lock
Due: none

style: add rstcheck on pre-commit
  .pre-commit-config.yaml
Due: none

feat: implement export of used materials to mcnp
  src/mapstp/merge.py
  tests/cli/test_mapstp.py
Due: isort, black, flake8

bump: version
  pyproject.toml
Due: none

test: add message how to resolve issue with package version
  poetry.lock
  tests/test_package.py
Due: isort, black

bump: prepatch in devel
  pyproject.toml
Due: none

build: update default material index with ep11 data
  src/mapstp/data/default-material-index.xlsx
Due: none

fix: add processing of BREP_WITH_VOID bodies
  src/mapstp/stp_parser.py
Due: isort, black, flake8

bump: patch on important fix for BREP_WITH_VOID'
  poetry.lock
  pyproject.toml
Due: none

build: exclude dev scripts from isort and flake8 control
  .pre-commit-config.yaml
  dev/check-path
  dev/clean
  dev/common.rc
  dev/deltag
Due: none

style: clear PyCharm warnings on @dataclass classes without __init__() method.
  src/mapstp/stp_parser.py
Due: isort, black, flake8

build: update dependencies
  poetry.lock
  pyproject.toml
Due: none

build: add dependabot github action
  .github/dependabot.yml
Due: none

build: pre-commit
  .flake8
  .pre-commit-config.yaml
  docs/Makefile
  docs/make.bat
  docs/source/conf.py
  docs/source/index.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  src/mapstp/cli/logging.py
  src/mapstp/extract_info.py
  src/mapstp/tree.py
  src/mapstp/utils/io.py
  src/mapstp/utils/resource.py
  tests/__init__.py
  tests/test_stp_parser.py
  tests/utils/__init__.py
Due: isort, black, flake8

CI: add github actions
  .github/release-drafter.yml
  .github/workflows/coverage.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test-pypi.yml
  .github/workflows/tests.yml
  README.rst
  noxfile.py
  src/mapstp/tree.py
Due: isort, black, flake8

refact: collection meta information in the top package __init__.py Thus the file is reusable in other projects.
  src/mapstp/__init__.py
  src/mapstp/cli/runner.py
  src/mapstp/meta.py
  tests/cli/test_mapstp.py
Due: isort, black, flake8

build: add mypy to pre-commit
  .pre-commit-config.yaml
Due: none

docs: updated README
  README.rst
Due: none

CI: fix Tests action name
  .github/workflows/tests.yml
Due: none

bump: propagate docs to master
  pyproject.toml
Due: none

docs: fix README
  README.rst
  pyproject.toml
Due: none

build: add install project script with preliminary cleaning of previous installations
  dev/poetry-install
Due: none

deps: update
  dev/install-mapstp
  dev/install-poetry
  noxfile.py
  poetry.lock
  pyproject.toml
Due: isort, black, flake8

build: setup windows environment with conda
  .gitignore
  dev/install-poetry.bat
  dev/install-poetry.ps1
  dev/install-poetry.py
  dev/reset-conda-env.bat
Due: isort, black, flake8

fix: relax pattern to search meta info in STP component names
  src/mapstp/extract_info.py
  tests/test_extract_info.py
Due: isort, black, flake8

test: reduce loads on nox tests
  noxfile.py
  tests/cli/conftest.py
Due: isort, black, flake8

docs: start documenting
  docs/source/index.rst
Due: none

docs: continued
  docs/.rstcheck.cfg
  docs/source/conf.py
  docs/source/index.rst
  docs/source/license.rst
  docs/source/reference.rst
Due: isort, black, flake8

build: use nox-poetry
  .flake8
  noxfile.py
  poetry.lock
  pyproject.toml
  src/mapstp/cli/logging.py
  src/mapstp/cli/py.typed
  src/mapstp/merge.py
  src/mapstp/py.typed
  src/mapstp/utils/py.typed
  tests/conftest.py
Due: isort, black, flake8

docs: add guides for developers
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.rst
  noxfile.py
Due: isort, black, flake8

build: fix dependency for pre-commit nox action
  noxfile.py
Due: isort, black, flake8

style: fix pre-commit warnings
  dev/install-poetry.bat
  dev/install-poetry.ps1
Due: none

ci: update release action
  .github/labels.yml
  .github/workflows/constraints.txt
  .github/workflows/coverage.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  noxfile.py
Due: isort, black, flake8

ci: install nox-poetry in github actions with nox
  .github/workflows/constraints.txt
  .github/workflows/coverage.yml
  .github/workflows/tests.yml
Due: none

ci: add main branch
  .github/workflows/tests.yml
Due: none
