Repository MC-kit/map-stp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

build: poetry update
  poetry.lock
Due: none

style: more lint
  .flake8
  noxfile.py
  src/mapstp/cli/runner.py
  src/mapstp/config.py
  src/mapstp/exceptions.py
  src/mapstp/extract_info.py
  src/mapstp/materials.py
  src/mapstp/merge.py
  src/mapstp/stp_parser.py
  src/mapstp/tree.py
  src/mapstp/workflow.py
  tests/cli/test_mapstp.py
  tests/test_extract_info.py
  tests/test_materials.py
  tests/utils/test_io.py
  tests/utils/test_resource.py
  tools/install-poetry.py
Due: isort, black, flake8

build: sync with mckit-nuclides similar files
  .flake8
  .github/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  docs/source/conf.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tools/reset-pyenv
Due: isort, black, flake8

style: reformat files (length and docstrings)
  src/mapstp/cli/logging.py
  src/mapstp/cli/runner.py
  src/mapstp/config.py
  src/mapstp/exceptions.py
  src/mapstp/extract_info.py
  src/mapstp/materials.py
  src/mapstp/materials_index.py
  src/mapstp/merge.py
  src/mapstp/stp_parser.py
  src/mapstp/tree.py
  src/mapstp/utils/io.py
  src/mapstp/workflow.py
  tests/cli/test_mapstp.py
  tests/test_extract_info.py
  tests/test_materials.py
  tests/test_stp_parser.py
  tests/utils/test_io.py
  tests/utils/test_resource.py
  tools/install-poetry.py
  tools/install_flake8_deps.py
Due: isort, black, flake8

docs: fix configuration and content
  .readthedocs.yaml
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/reference.rst
  docs/source/todo.rst
  poetry.lock
  pyproject.toml
Due: isort, black, flake8

docs: improve docs
  docs/source/index.rst
  docs/source/mapstp.cli.rst
  docs/source/mapstp.rst
  docs/source/mapstp.utils.rst
  docs/source/modules.rst
  docs/source/readme.rst
  docs/source/reference.rst
Due: none

style: remove extra 'else'
  src/mapstp/tree.py
Due: isort, black, flake8

style: fix lint warnings
  src/mapstp/cli/runner.py
  src/mapstp/config.py
  src/mapstp/extract_info.py
  src/mapstp/stp_parser.py
  tests/utils/test_resource.py
Due: isort, black, flake8

fix: restore factor extraction
  src/mapstp/extract_info.py
Due: isort, black, flake8

build: sync with mckit-nuclides similar files
  docs/source/conf.py
  pyproject.toml
Due: isort, black, flake8

docs: fix CLI docs
  docs/source/index.rst
  src/mapstp/cli/runner.py
Due: isort, black

ci: sync python version with noxfile on 'docs' action.
  .github/workflows/tests.yml
Due: none

docs: apply sphinx-click for automated CLI description
  docs/source/conf.py
  docs/source/index.rst
Due: isort, black, flake8

docs: change sphinx theme to 'nature'
  docs/source/conf.py
Due: isort, black, flake8

ci: return to old pip
  .github/constraints.txt
Due: none

build: poetry update
  docs/source/index.rst
  poetry.lock
Due: none

build: sync with mckit-nuclides similar files
  .flake8
  .github/workflows/release.yml
  .github/workflows/tests.yml
  docs/source/conf.py
  docs/source/index.rst
Due: isort, black, flake8

sytle: remove comment behind ignore code
  .flake8
Due: none

build: sync with mckit-nuclides similar files
  .flake8
  poetry.lock
  pyproject.toml
Due: none

build: dev deps update
  poetry.lock
Due: none

build: sync with mckit-nuclides similar files
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

build: fix reset-pyenv
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  docs/source/conf.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tools/reset-pyenv
Due: isort, black, flake8

style: isort
  src/mapstp/extract_info.py
  src/mapstp/materials.py
  tests/cli/test_mapstp.py
  tests/test_extract_info.py
  tests/test_merge.py
Due: isort, black, flake8

build: sync with ne similar files
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  pyproject.toml
Due: none

build: sync with similar files
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  src/mapstp/utils/resource.py
Due: isort, black, flake8

build: sync with mckit-nuclides similar files
  .github/constraints.txt
  pyproject.toml
Due: none

test: fix coverage settings
  poetry.lock
  pyproject.toml
Due: none

build: sync with mckit-nuclides similar files
  .flake8
  .github/workflows/clean-workflow-logs.yml
  poetry.lock
  pyproject.toml
Due: none

style: decrease complexity
  noxfile.py
  src/mapstp/config.py
  src/mapstp/merge.py
  src/mapstp/stp_parser.py
  tests/cli/test_mapstp.py
Due: isort, black, flake8

build: stop using deprecated pkg_resources
  .flake8
  pyproject.toml
  src/mapstp/utils/resource.py
  tests/utils/test_resource.py
Due: isort, black, flake8

style: fix lint warnings
  tests/test_config.py
Due: isort, black

style: fix mypy error on using path_resolver
  src/mapstp/materials_index.py
Due: isort, black, flake8

build: sync with similar mckit-nuclides files
  .github/workflows/release.yml
  .github/workflows/tests.yml
  tools/reset-pyenv
Due: none

dependencies: poetry update (dev only)
  poetry.lock
Due: none

dependecies: poetry update
  poetry.lock
Due: none

Path conditions:
  isort: any of: \.py$, but not: dev|\.idea
  black: any of: \.py$
  flake8: any of: \.py$, but not: tests|runner|dev|\.idea
