Repository MC-kit/map-stp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

build: sync with mckit-nuclides similar files
  .github/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  pyproject.toml
Due: none

dependecies: poetry update
  poetry.lock
Due: none

dependencies: poetry update (dev only)
  poetry.lock
Due: none

dependencies: poetry update
  poetry.lock
Due: none

style: fix ruff errors
  src/mapstp/materials.py
  src/mapstp/merge.py
Due: isort, black, flake8

build: sync with similar mckit-nuclides files
  .pre-commit-config.yaml
  pyproject.toml
  tools/reset-pyenv
Due: none

style: use csv style in pytest parametrization arguments - less printing
  tests/cli/test_mapstp.py
  tests/test_config.py
  tests/test_extract_info.py
  tests/test_merge.py
  tests/test_stp_parser.py
  tests/utils/test_re.py
  tests/utils/test_resource.py
Due: isort, black

build: sync with similar mckit-nuclides files
  .flake8
  .github/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/mapstp/cli/logging.py
  src/mapstp/cli/runner.py
  src/mapstp/config.py
  src/mapstp/excel.py
  src/mapstp/exceptions.py
  src/mapstp/extract_info.py
  src/mapstp/materials.py
  src/mapstp/merge.py
  src/mapstp/stp_parser.py
  src/mapstp/tree.py
  src/mapstp/utils/io.py
  src/mapstp/utils/resource.py
  src/mapstp/workflow.py
  tests/cli/test_mapstp.py
  tests/conftest.py
  tests/test_config.py
  tests/test_merge.py
  tests/utils/test_resource.py
  tools/clear-prev-dist-info.py
  tools/install_flake8_deps.py
  tools/reset-pyenv
Due: isort, black, flake8

test: fix resource test
  tests/utils/test_resource.py
Due: isort, black

dependencies: remove pandas version constraint
  .github/constraints.txt
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

build: sync with mckit-nuclides similar files
  poetry.lock
  pyproject.toml
  tools/reset-pyenv
Due: none

build: sync with similar mckit-nuclides files
  noxfile.py
  pyproject.toml
Due: isort, black, flake8

build: sync with similar mckit-nuclides files
  .flake8
  noxfile.py
  pyproject.toml
Due: isort, black, flake8

build: sync with mckit-nuclides similar files - update ci
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  pyproject.toml
Due: none

build: sync with similar mckit-nuclides files
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  pyproject.toml
Due: none

build: sync with similar mckit-nuclides files
  .flake8
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

build: sync with similar mckit-nuclides files
  .flake8
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  tools/reset-pyenv
Due: isort, black, flake8

bump: version mapstp 0.3.10
  pyproject.toml
Due: none

style: fix mypy error
  noxfile.py
  poetry.lock
  pyproject.toml
Due: isort, black, flake8

bump: version mapstp 0.3.11a0
  pyproject.toml
Due: none

build: sync with mckit-nuclides similar files
  .github/constraints.txt
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

dependencies: stop support of python3.8 + poetry updates
  .github/workflows/release.yml
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/mapstp/materials_index.py
  src/mapstp/utils/io.py
  tests/test_package.py
Due: isort, black, flake8

dependencies: poetry updates
  poetry.lock
Due: none

bump: version mapstp 0.3.11
  pyproject.toml
Due: none

bump: version mapstp 0.4.0
  pyproject.toml
Due: none

feat: add sql support and volumes loading
  src/mapstp/cli/runner.py
  src/mapstp/excel.py
  src/mapstp/extract_info.py
  src/mapstp/materials.py
  src/mapstp/merge.py
  src/mapstp/save_table.py
  src/mapstp/stp_parser.py
  src/mapstp/utils/__init__.py
  src/mapstp/utils/decode_russian_in_stp.py
  src/mapstp/utils/io.py
  src/mapstp/utils/re.py
  src/mapstp/utils/resource.py
  tests/cli/test_mapstp.py
  tests/conftest.py
  tests/test_extract_info.py
  tests/test_merge.py
  tests/utils/test_decode_russian_in_stp.py
  tests/utils/test_io.py
Due: isort, black, flake8

fix: adjust stp paths to content in volumes and sequence files from SpaceClaim
  src/mapstp/cli/mapstp_logging.py
  src/mapstp/cli/runner.py
  src/mapstp/merge.py
  src/mapstp/save_table.py
  tests/cli/test_logging.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$, but not: dev|\.idea
  black: any of: \.py$
  flake8: any of: \.py$, but not: tests|runner|dev|\.idea
