Repository MC-kit/map-stp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

build: poetry update
  poetry.lock
  tools/bump
Due: none

build: stop using nox-poetry
  .flake8
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/tests/test_stp_parser.py
  tools/install-mapstp
  tools/install-poetry
  tools/install_flake8_deps.py
  tools/reset-pyenv
Due: isort, black, flake8

bump: version mapstp 0.3.8
  pyproject.toml
Due: none

ci: remove nox-poetry from test CI action
  .github/workflows/tests.yml
Due: none

ci: set poetry verision to 1.2
  .github/constraints.txt
Due: none

ci: fix release-drafter setup
  .github/release-drafter.yml
Due: none

ci: reduce stale action frequency
  .github/workflows/stale.yml
Due: none

ci: fix stale action frequency
  .github/workflows/stale.yml
Due: none

bump: version mapstp 0.3.9a0
  pyproject.toml
Due: none

build: sync similar files with xpypact
  .github/constraints.txt
  .github/dependabot.yml
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  src/mapstp/utils/resource.py
  src/tests/utils/test_resource.py
  tools/reset-pyenv
Due: isort, black, flake8

build: poetry update (dev deps only)
  poetry.lock
Due: none

build: fix reset-pyenv script
  tools/reset-pyenv
Due: none

build: pre-commit update
  .pre-commit-config.yaml
Due: none

build: sync similar files with xpypact project
  .flake8
  .github/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
  tools/install-poetry
Due: isort, black, flake8

build: resolve flake8/isort conflict
  .flake8
Due: none

build: fix noxfile
  noxfile.py
  pyproject.toml
  src/mapstp/cli/logging.py
  src/mapstp/materials.py
  src/mapstp/merge.py
  src/mapstp/utils/resource.py
  src/tests/cli/__init__.py
  src/tests/utils/test_re.py
Due: isort, black, flake8

build: poetry update
  poetry.lock
Due: none

build: minor fix in pyproject.toml
  pyproject.toml
Due: none

ci: switch to Python 3.11 as default
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

build: simplify tools/reset-pyenv
  tools/reset-pyenv
Due: none

build: sync with mckit-nuclides similar files
  .flake8
  noxfile.py
  pyproject.toml
Due: isort, black, flake8

build: move tests out of 'src' folder
  .flake8
  pyproject.toml
  tests/__init__.py
  tests/cli/__init__.py
  tests/cli/conftest.py
  tests/cli/test_logging.py
  tests/cli/test_mapstp.py
  tests/conftest.py
  tests/data/111.txt
  tests/data/materials-1.txt
  tests/data/test-4-4-components-1-body.i
  tests/data/test-4-4-components-1-body.stp
  tests/data/test-5-3-components-1-body.i
  tests/data/test-5-3-components-1-body.stp
  tests/data/test-extract-info.i
  tests/data/test-extract-info.stp
  tests/data/test1-with-void.i
  tests/data/test1.i
  tests/data/test1.stp
  tests/data/test3.i
  tests/data/test3.stp
  tests/data/test3a.i
  tests/data/test3a.stp
  tests/test_config.py
  tests/test_extract_info.py
  tests/test_materials.py
  tests/test_materials_index.py
  tests/test_merge.py
  tests/test_package.py
  tests/test_stp_parser.py
  tests/utils/__init__.py
  tests/utils/test_io.py
  tests/utils/test_re.py
  tests/utils/test_resource.py
Due: isort, black

fix: print correct paths in excel
  .flake8
  src/mapstp/cli/logging.py
  src/mapstp/excel.py
  src/mapstp/materials.py
  src/mapstp/merge.py
  src/mapstp/stp_parser.py
  src/mapstp/tree.py
  src/mapstp/workflow.py
  tests/cli/test_mapstp.py
  tests/test_stp_parser.py
Due: isort, black, flake8

feat: work with simplt STP
  tests/data/tnes-materials.txt
  tests/data/tnes-mi-22-12-19.xlsx
  tests/data/tnes.i
  tests/data/tnes.stp
Due: none

bump: version mapstp 0.3.9
  pyproject.toml
Due: none

bump: version mapstp 0.3.10a0
  pyproject.toml
Due: none

build: sync with mckit-nuclides similar files
  .flake8
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
  tools/install-poetry
Due: isort, black, flake8

refact: simplify code to satisfy extended flake8 requirements
  src/mapstp/utils/resource.py
Due: isort, black, flake8

style: make extended linter happy
  .flake8
  src/mapstp/cli/logging.py
  src/mapstp/config.py
  src/mapstp/excel.py
  src/mapstp/extract_info.py
  src/mapstp/materials.py
  src/mapstp/materials_index.py
  src/mapstp/merge.py
  src/mapstp/stp_parser.py
  src/mapstp/utils/io.py
Due: isort, black, flake8

style: linting test code as well
  tests/cli/test_mapstp.py
  tests/test_extract_info.py
  tests/test_merge.py
  tests/test_package.py
  tests/test_stp_parser.py
  tests/utils/test_resource.py
Due: isort, black

style: fix mypy errors
  src/mapstp/extract_info.py
  src/mapstp/merge.py
  src/mapstp/stp_parser.py
Due: isort, black, flake8

build: poetry update (dev only)
  poetry.lock
Due: none

build: sync with mckit-nuclides similar files
  .flake8
  .github/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  tools/reset-pyenv
Due: isort, black, flake8

style: automated fix of docstrings
  src/mapstp/cli/logging.py
  src/mapstp/cli/runner.py
  src/mapstp/config.py
  src/mapstp/materials.py
  src/mapstp/materials_index.py
  src/mapstp/merge.py
  src/mapstp/stp_parser.py
  src/mapstp/tree.py
  src/mapstp/utils/io.py
  src/mapstp/workflow.py
  tests/cli/test_mapstp.py
  tests/test_stp_parser.py
  tests/utils/test_resource.py
  tools/install-poetry.py
  tools/install_flake8_deps.py
Due: isort, black, flake8

build: sync with similar files
  pyproject.toml
Due: none

Path conditions:
  isort: any of: \.py$, but not: dev|\.idea
  black: any of: \.py$
  flake8: any of: \.py$, but not: tests|runner|dev|\.idea
